body { font-family: Arial; margin: 20px; }
        .container { display: flex; gap: 20px; }
        .calendar { width: 280px; border: 1px solid #ccc; padding: 10px; }
        .form-panel { width: 280px; border: 1px solid #ccc; padding: 10px; }
        td.weekend { color: red !important; }
        td.holiday { background: #ff4444 !important; color: white !important; }
        td.short-day {background: #ffcccb !important; color: #8b0000 !important; font-style: italic;}
        /* td.workday-5-2 {background: #e3f2fd !important; Светло-голубой }
        td.workday-2-2 {background: #bbdefb !important;  Голубой } */
        

        table { width: 100%; border-collapse: collapse; }
        th, td { border: 1px solid #ddd; padding: 8px; text-align: center; }
        th { background: #f0f0f0; }
        td:hover { background: #f9f9f9; }
        input { width: 100%; padding: 5px; margin-bottom: 10px; box-sizing: border-box; }